<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">

    <!-- 设置日志路径属性 -->
    <Properties>
        <Property name="LOG_PATH">logs</Property>
    </Properties>

    <!-- 控制台输出 -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{50} : %msg%n" />
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="ACCEPT"/>
        </Console>
    </Appenders>

    <!-- 日志级别与输出目标 -->
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
